.controls {margin-top: 20px !important;}

.right-margin {margin-right: 15px;}
.controls {margin: 0 auto;}
.controls tbody tr td {border: none;}
.control-spacer {margin-right: 10px; margin-bottom: 10px;}
